<%=@str%>
<div class="text-center"> 
	<div class="forum">
		<h2>Discussion Order by Discussion Ratings</h2>
		<div class="container">
		<% @topics.each do |topic| %>
			<div class="col-md-12 jumbotron">
				<h2><a href="/forum"><%= topic['name'] %></a></h2>
				<img src="<%= topic['img_url']%>" class="img-responsive">
				<h5>
				Discussions: <span class="badge"><%=topic['disc_count']%></span> 
				Rates: <span class="badge"><%=topic['topic_rate']%></span>
				Created by:<a href="/view/<%= topic['username'] %>"> <%= topic['username'] %> </a>
				</h5>
				<div><%= markdown(topic['description']) %></div>
				<div> 
				<a href="/forum/<%= topic['name'] %>/edittopic"> <input class="button" type="submit" value="Edit" /> </a>
				<a href="/forum/<%= topic['name'] %>/addrate"> <span class="glyphicon glyphicon-thumbs-up"></span> </a>
				<a href="/forum/<%= topic['name'] %>/delrate"> <span class="glyphicon glyphicon-thumbs-down"></span> </a>
				</div>
				<form method="post" action="/forum/<%=topic['name']%>/delete"> 
	  			<input type="hidden" name="_method" value="delete">
	  			<button class="button" type="submit">Delete</button>
				</form>
			<a href="/forum/<%= topic['name'] %>/adddisc">
				<button type="button" class="btn btn-default">Add Discussions</button>
			</a>
			</div>
				<% @discs.each do |disc| %>
					<% if disc['topic_id']===topic['id']%>
						<div class="col-md-12">
							<h3> <a href="/forum/<%= topic['name'] %>/<%= disc['id']%>"> <%= disc['name']%> </a></h3>
							<img src="<%= disc['img_url']%>" class="img-thumbnail" width="255" height="auto">
							<h5>
								Comments: <span class="badge"><%=disc['comm_count']%></span> 
								Rates: <span class="badge"><%=disc['disc_rate']%></span>
								Created by:<a href="/view/<%= disc['username'] %>"> <%= disc['username'] %> </a>
							</h5>
							<div > 
								<a href="/forum/<%= disc['topic_name'] %>/<%=disc['id']%>/editdisc"> <input class="button" type="submit" value="Edit" /> </a>
								<a href="/forum/<%= disc['topic_name'] %>/<%=disc['id']%>/addrate"> <span class="glyphicon glyphicon-thumbs-up"></span> </a>
								<a href="/forum/<%= disc['topic_name'] %>/<%=disc['id']%>/delrate"> <span class="glyphicon glyphicon-thumbs-down"></span> </a>
							</div>
							<div class="jumbotron"> <%= markdown(disc['description']) %> </div>
						</div>
					<%end%>
				<%end%>
		<%end%>
		</div>		
		<%=@str%>
	</div>
</div>