<div class="comment">
	<form class="edit" action="/forum/<%= @topic_name %>/<%=@comments.first['disc_id']%>/<%=@comments.first['id']%>/editcomm" method="post">
		<div class="input-row">
			<label for="description">Description: </label>
			<input type="hidden" name="_method" value="put">
			<textarea name="description" id="description"><%= @comments.first['description'] %></textarea>
		</div>
		<div class="input-row">
				<label for="img_url">Image URL: </label>
				<input type="hidden" name="_method" value="put">
  			<input type="img_url" name="img_url"  id="img_url" value="<%= @comments.first['img_url'] %>" />
		</div>
		<div class="input-row">
			<input class="button" type="submit" value="Submit" />
		</div>
		<div class="input-row">
			<input type="hidden" name="_method" value="delete">
	    <button class="button" type="submit">Delete</button>
		</div>
	</form>
	<a href="/forum/<%= @topic_name %>/<%=@comments.first['disc_id']%>"><input class="button" type="submit" value="Cancel" /></a>
	<h3><%=@str%></h3>
</div>