<div class="comment">
	<form class="add" action="/forum/<%= @topic_name %>/<%= @disc_id %>/addcomm" method="post">
		<div class="input-row">
			<label for="description">Description: </label>
			<textarea name="description" id="description"></textarea>
		</div>
		<div class="input-row">
			<label for="img_url">Image Url: </label>
			<input name="img_url" id="img_url" />
		</div>
		<div class="input-row">
			<input class="button" type="submit" value="Submit" />
		</div>
	</form>
	<a href="/forum/<%= @topic_name %>/<%=@disc_id%>"><input class="button" type="submit" value="Cancel" /></a>
	<h3><%=@str%></h3>
</div>