<div class="col-sm-8 text-center"> 
<div class="comment">
	<form role="form" class="edit" action="/forum/<%= @topic_name %>/<%=@comments.first['disc_id']%>/<%=@comments.first['id']%>/editcomm" method="post">
		<div class="form-group">
			<label for="description">Description: </label>
			<input type="hidden" name="_method" value="put">
			<textarea name="description" id="description"><%= @comments.first['description'] %></textarea>
		</div>
		<div class="form-group">
				<label for="img_url">Image URL: </label>
				<input type="hidden" name="_method" value="put">
  			<input type="img_url" name="img_url"  id="img_url" value="<%= @comments.first['img_url'] %>" />
		</div>
		<div class="form-group">
			<input class="button" type="submit" value="Submit" />
		</div>
	</form>
	<form method="post" action="/forum/<%= @topic_name %>/<%=@comments.first['disc_id']%>/<%=@comments.first['id']%>/delete"> 
		<input type="hidden" name="_method" value="delete">
		<button class="button" type="submit">Delete</button>
	</form>
	<a href="/forum/<%= @topic_name %>/<%=@comments.first['disc_id']%>"><input class="button" type="submit" value="Cancel" /></a>
	<h4 class="alert alert-danger"><%=@str%></h4>
</div>