<%=@str%>
<div class="col-sm-8 text-center"> 
<div class="disc">
	<h2>Comments Order by Create Dates</h2>
	<div class="container">
	<% @discs.each do |disc| %>
		<div class="col-md-12 jumbotron">
			<h2><a href="/forum/<%= disc['topic_name'] %>"><%= disc['name'] %></a></h2>
			<a href="/forum/<%= disc['topic_name'] %>/<%= disc['id'] %>">
			<img src="<%= disc['img_url']%>" class="img-rounded" width="100%" height="auto" >
			</a>
			<h5>
				Comments: <span class="badge"><%=disc['comm_count']%></span> 
				Rates: <span class="badge"><%=disc['disc_rate']%></span>
				Created by:<a href="/view/<%= disc['username'] %>"> <%= disc['username'] %> </a>
			</h5>
			<div><%= markdown(disc['description']) %></div>
			<div > 
				<a href="/forum/<%= disc['topic_name'] %>/<%=disc['id']%>/editdisc"> <input class="button" type="submit" value="Edit" /> </a>
				<a href="/forum/<%= disc['topic_name'] %>/<%=disc['id']%>/addrate"> <span class="glyphicon glyphicon-thumbs-up"></span> </a>
				<a href="/forum/<%= disc['topic_name'] %>/<%=disc['id']%>/delrate"> <span class="glyphicon glyphicon-thumbs-down"></span> </a>
			</div>
			<form method="post" action="/forum/<%=disc['topic_name']%>/<%=disc['id']%>/delete"> 
  			<input type="hidden" name="_method" value="delete">
  			<button class="btn btn-default" type="submit">Delete</button>
			</form>
			</div>
			<a href="/forum/<%= disc['topic_name'] %>/<%=disc['id']%>/addcomm"><button type="btn btn-default" class="btn btn-default">Add Comment</button></a>
			<% @comments.each do |comment| %>
			<div class="col-md-12">
				<% if comment['disc_id']===disc['id']%>
				<div class="jumbotron"> <%= markdown(comment['description']) %> </div>
				<h5>Created by: <a href="/view/<%= disc['username'] %>"> <%= comment['username'] %> </a> </h5>
				<a href="/forum/<%=disc['topic_name']%>/<%=disc['id']%>/addcomm"><button class="btn btn-default" type="submit"/>Join Comment</button></a>
				<a href="/forum/<%=disc['topic_name']%>/<%=disc['id']%>/<%=comment['id']%>/editcomm"><button class="btn btn-default" type="submit" />Edit Comment</button></a>
				<form method="post" action="/forum/<%=disc['topic_name']%>/<%=disc['id']%>/<%= comment['id'] %>/delete"> 
    			<input type="hidden" name="_method" value="delete">
    			<button class="btn btn-default" type="submit">Delete</button>
				</form>
				<%end%>
			</div>
			<%end%>
		</div>
	<%end%>
	</div>		
</div>
</div>